<a href="https://colab.research.google.com/github/AtabonfackBernes/SPARK_Projects/blob/main/Workshop2022_1_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Workshop 1: Intro to Python** 
### Instructors: Farhad Maleki
### Acknoledgements: Yujing Zou, Luca Weishaupt, Hossein Jafarzadeh

In the next 10 weeks, we will be using code demo in Google Colab during the workshops. 

If you would like to download Python and set it up on your own time, please visit our drop-in sessions during the week where our mentors can help you with that.

***Python*** is a beginner friendly programming language. It is a popular coding language whose syntax is similar to English which will be easy to pick up with some patience and practice! 

Our computers understand a limited number of instructions 
- varaibles = remember a number 
- operations = add, subtract, etc. values 
- comparison = compare 2 values i.e., equal, greater than, less than 
- loops = repeat a command 
- printing - write out a stored value 
- ...

The following resources have been heavily used to develop this tutorial
 - [Automate the Boring Stuff with Python](https://automatetheboringstuff.com/2e/)
 - [W3 School Python Tutorial](https://www.w3schools.com/python/)

## First program in python
```python
print('This is my first program in Python!')
```
> **Reminder**: to execute a cell = Shift + Enter your current cell. This is useful for Google Colab and Jupyter Notebook usage. 
Execute the following line:

In [ ]:
print('This is my first program in Python!')

This is my first program in Python!

## Variables and Data type

Let's draw an analogy between a variable and a box. 
A variable could be like a box where each box contains a single value.
Let's start with boxes that only hold a single value of a specific type.

Here I have a variable name **spam** that has value of **42**

![Variables are like box](https://automatetheboringstuff.com/2e/images/000026.jpg)

>A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).
>
>Rules for Python variables:
>
> - A variable name must start with a letter or the underscore character
>
> - A variable name cannot start with a number
>
> - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
> - Variable names are case-sensitive (age, Age and AGE are three different variables)

[Reference](https://www.w3schools.com/python/gloss_python_variable_names.asp)

Examples of **correct** names:
- total
- average
- count
- i
- j
- num_lines
- _value

Examples of **incorrect** names:
- 7total
- -average
- customer count
- i@
- j&
- num%lines
- value!

###String
Strings have type **str**

In [ ]:
# Assigning value to variables
student_name = 'Jhone'
teacher_name = "Jane"
text_1 = "John's book"
text_2 = 'John said: "He will go to school"'
text_3 = "John said: \"He will go to school\""

print(text_2)
print(text_3)
message = '''
This is a multi line string.
You can have a string containing several lines.
'''
another_message = """
This is another multiline string.
You can have a string containing several lines.
"""
print(message)
print(another_message)

print(
    type(student_name), type(text_1), type(text_2), type(text_3),
    type(message), type(another_message)
      )

John said: "He will go to school"
John said: "He will go to school"

This is a multi line string.
You can have a string containing several lines.


This is another multiline string.
You can have a string containing several lines.

<class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'str'>

### Formatting strings:

In [ ]:
## inserting values into a string using the f-string syntax
year = 2 
name = 'McMedHacks'
sentence1 = f"This is the {year}nd year that {name} is being held."
print(sentence1)

## inserting values into a string using the format method
sentence2 = "This is the {}nd year that {} is being held.".format(year, name)
print(sentence2)

# \n in an string is the new line and \t is the tab
x = '\n\nThis ' + 'is ' + 'one ' + 'way ' + 'to connect several strings.'
print(x)
print(type(x))

This is the 2nd year that McMedHacks is being held.
This is the 2nd year that McMedHacks is being held.


This is one way to connect several strings.
<class 'str'>

### String slicing

> For an string variable ```s```, ```s[i:j]``` evaluates to the sub-string of ```s``` from the i-th character to (j-1)-th character

> index starts at 0 in Python

In [ ]:
# parts of a string can be selected and found using "slicing"

me = "[[I love Michael Jackson's music"
print(me[0])   # The first index
print(me[0:5]) # letters from the first (0th index) character to the 5th (4th index) character
print(me[-1])  # the last character 
print(me[4:])  # the fifth character till the last character
print(me.split()) # split the words 
print(me.strip('['))

txt = "     banana     " 
x = txt.strip()
print("of all fruits", x, "is my favorite")

[
[[I l
c
love Michael Jackson's music
['[[I', 'love', 'Michael', "Jackson's", 'music']
I love Michael Jackson's music
of all fruits banana is my favorite

There are many operations that one can apply to a string. Here are some examples.

In [ ]:
print('This is an example'.lower()) # Convert a string to lower case
print('This is an example'.upper()) # Convert a string to upper case
print('This is an example'.islower()) # Check if a string to lower case
print('This is an example'.isupper()) # Check if a string to upper case
print('Hello'.isalpha()) # Check if a string is made of alphabet
print('123'.isnumeric()) # Check if a string is made of numbers
print('This is an example'.startswith('This')) # Check if a string starts with another string
print('This is an example'.endswith('e')) # Check if a string ends with another string
print(len('This is  an example')) # Return the length of a string
print('This is an example'.replace('example', 'instance')) # Replace a substring with another string
print('This is an example'.find(' an')) # find the index of the first occurance of a substring
print('e' in 'This is an example') # Check 'example' is a substring of 'This is an example'

this is an example
THIS IS AN EXAMPLE
False
False
True
True
True
True
19
This is an instance
7
True

<font color='red'>**Resource**:</font> [Read more here](https://www.w3schools.com/python/python_strings.asp)

### Integer type

Integers have type **int**. Here are several examples of integer values: 
- -10000
- -4
- -565
- 0
- 565
- 10000

In [ ]:
total = 1000
number = 20
population_size = 36000000
print(total, number, population_size)
print(type(total), type(number), type(population_size))

1000 20 36000000
<class 'int'> <class 'int'> <class 'int'>

### Float type
Float values have type **float**.
Here are several examples of float values:
- -3000.665
- -0.0001
- 0.0
- 0.0001
- 3000.665
- 3E-4
- -2.1e4

In [ ]:
x = 1002.3
print(x, type(x))

y = 314e-2
print(y, type(y))

1002.3 <class 'float'>
3.14 <class 'float'>

#### Note: If a float value is greater than 1.8 * 10^308, an output of 'inf' will be printed

In [ ]:
w = 1.8e308
print(w, type(w))

inf <class 'float'>

### Boolean Type
A boolean variable has one of two possible values **True** and **False**

In [ ]:
visited = True
processed = False
print(visited)
print(type(visited))

True
<class 'bool'>

## None data type
**None** is used to indicate a null value, or no value.

In [ ]:
x = None
print(x, type(x))

None <class 'NoneType'>

## Converting data types
Converting or casting a variable from a type to another type is possible in python.

### Converting **float** to **int**

In [ ]:
x = 12.6
print(x, 'is of type:', type(x))
y = int(x)
print(y, 'is of type:', type(y))

12.6 is of type: <class 'float'>
12 is of type: <class 'int'>

### Converting **int** to **float**

In [ ]:
x = 12
print(x, 'is of type:', type(x))
y = float(x)
print(y, 'is of type:', type(y))

12 is of type: <class 'int'>
12.0 is of type: <class 'float'>

### Converting numbers (**int** or **float**) to string

In [ ]:
x = 12.5
print('x is of type:', type(x))
y = str(x)
print('y is of type:', type(y))

x is of type: <class 'float'>
y is of type: <class 'str'>

In [ ]:
x = '12.4'
print('x is of type:', type(x))
y = float(x)
print('y is of type: ', type(y))

x is of type: <class 'str'>
y is of type:  <class 'float'>

In [ ]:
x = '12'
print('x is of type:', type(x))
y = float(x)
print('y is of type:', type(y))

x is of type: <class 'str'>
y is of type: <class 'float'>

### Conversion to boolean using bool
- non-zero numbers convert to **True** and zero convert to **False**
- non-empty strings convert to **True** and zero convert to **False** **bold text**

In [ ]:
# Converting a non-empty string to boolean results in True
x = 'False'
print(bool(x))

True

In [ ]:
# Converting an empty string to boolean results in False
x = ''
print(bool(x))

False

In [ ]:
# Converting a non-zero number to boolean results in True
x = 12.3
print(bool(x))

True

In [ ]:
# Converting zero value number to boolean results in False
x = 0.0
print(bool(x))

False

### Converting boolean values

In [ ]:
int(True)

1

In [ ]:
int(False)

0

In [ ]:
float(True)

1.0

In [ ]:
float(False)

0.0

In [ ]:
str(True)

'True'

In [ ]:
str(False)

'False'

<font color='red'>**Note**: </font> Conversion from one data type to another data type should make sense. You cannot convert 'Hello' to a integer.

### <font color='red'>**Tip**:</font> when things go wrong, you can ask [Stackoverflow](https://stackoverflow.com/), or simply [Google](www.google.com).

Here, I demonstrate an error resulting from an incorrect converstion and how Google Colab will automatically suggest a StackOverflow link to help you find solutions.

In [ ]:
# An
x = '2.3'
y = int(x)

ValueError: ignored

### <font color='red'>**Tip**: </font> To make your code clear and more readable use comments alongside your code

The special symbol **#** tells Python to not *not execute* that line. Hence it is used for commenting code.

In [ ]:
# This is a comment and will not be executed.

##  Operators

### Arithmetic operation
- **+** used for Addition 
- **-** used for Subtraction
- _*_ used for Multiplication
- **/** used for Division
- **//** used for Integer division	
- **%** used for Remainder
- ****** used for Exponent

In [ ]:
x = 11
y = 2
print('x + y = ', x + y)
print('x - y = ', x - y)
print('x * y = ', x * y)
print('x / y = ', x / y)
print('x // y = ', x // y)
print(r'x ** y = ', x ** y)

x + y =  13
x - y =  9
x * y =  22
x / y =  5.5
x // y =  5
x ** y =  121

### Relational operators
Relational operators are used for comparing values. They either return **True** or **False** 

- **==** for Equivalence
- **<** for Less than	
- **<=** for Less than or equal to	
- **>** for Greater than	
- **>=** for Greater than or equal to	
- **!=** for Does not equal

In [ ]:
x = 11
y = 2
print('x == y results in: ', x == y)
print('x < y results in: ', x < y)
print('x <= y results in: ', x <= y)
print('x > y results in: ', x > y)
print('x >= y results in: ', x >= y)
print('x != y results in: ', x != y)

x == y results in:  False
x < y results in:  False
x <= y results in:  False
x > y results in:  True
x >= y results in:  True
x != y results in:  True

### Logical operators
- **or** is the *logical or*. It results in **True** if either of the operands are true; otherwise, it results in **False**
- **and** for *logical and*. It results in **True** if both the operands are true; otherwise, it results in **False**
- **not** is the *logical not*. It results in **True** if operand is false; otherwise, it results in **False**

In [ ]:
x = 120
y = 239.2
print( 'x > 200 or y > 200 results in: ', x > 200 or y > 200)
print( 'x > 201 and y > 200 results in: ', x > 200 and y > 200)
print( 'not(x > 200 and y > 200) results in: ', not(x > 200 and y > 200))

x > 200 or y > 200 results in:  True
x > 201 and y > 200 results in:  False
not(x > 200 and y > 200) results in:  True

### <font color='red'>**Note**: </font>: [The order of operators in an expression matter](https://www.mathcs.emory.edu/~valerie/courses/fall10/155/resources/op_precedence.html#:~:text=Highest%20precedence%20at%20top%2C%20lowest,box%20evaluate%20left%20to%20right.)

# <font color='red'>**Activity 1**: </font>

1. Which of the following are operators, and which are values?
    - *
    - 'hello'
    - -88.8
    - -
    - /
    - +
    - 5

2. Which of the following is a variable, and which is a string?
    - spam
    - 'spam'
3. Name three data types.

4. What is an expression made up of? What do all expressions do?

5. This chapter introduced assignment statements, like spam = 10. What is the difference between an expression and a statement?

6. What does the variable bacon contain after the following code runs?
>bacon = 20
>
>bacon + 1

7. What should the following two expressions evaluate to?
>'spam' + 'spamspam'
>
>'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

10. Why does this expression cause an error? How can you fix it?
>'I have eaten ' + 99 + ' burritos.'


[Reference](https://automatetheboringstuff.com/2e/chapter1/)

# Part 2

##If / elif / else statements
Often we take action under a specific condition. For example, if it is rainy, we take an umbrella. In python, we use if/elif/else statements for such situations. The syntax of the if/elif/else statement is as follows. You have one ```if``` and at most one ```else``` and you can have several ```elif``` in the middle. Starting from ```if`` statement, if a condition is evaluated as True, its statement is run and the rest of elifs or the final else will be skipped. 

``` python
if condition_1:
    statement_1
elif condition_2:
    statement_2
elif condition_3:
    statement_3
    ...
else:
    statement_n
```
- the program can make decisions based on the conditions defined in the if / elif / else statements 
- You must write **:** at the end of the ```if```, ```elif```, and ```else``` lines
- Once you hit enter, after the **:**, the next line will be automatically indented. Be consistent with the indentation (2 or 4 space is commonly used). 
- The ```if```, ```elif```, ```else``` lines must start at the same indentation
- ```elif``` always comes after an ```if``` or another ```elif``` and ```else``` must be the last statement

#### Note: ```if```, ```elif```, and ```else``` statements cannot be empty, but if you for some reason have an statement with no content, put in the pass statement to avoid getting an error.

### Convert a grade from 100 to letter grade

In [ ]:
grade = input('Enter your grade: ')
grade = float(grade)
if grade >= 97.5:
  result = 'A+'
elif grade >= 92.5:
  result = 'A'
elif grade >= 90.0:
  result = 'A-'
elif grade >= 87.5:
  result = 'B+'
elif grade >= 82.5:
  result = 'B'
elif grade >= 80.0:
  result = 'B-'
elif grade >= 77.5:
  result = 'C+'
elif grade >= 72.5:
  result = 'C'
elif grade >= 70.0:
  result = 'C-'
elif grade >= 67.5:
  result = 'D+'
elif grade >= 62.5:
  result = 'D'
elif grade >= 60.0:
  result = 'D-'
else:
  result = 'E'

print(f'Your letter grade is {result}')

Enter your grade: 20
Your letter grade is E

### Another example:

In [ ]:
number = float(input("Please type a number: "))

if number < 5:
    print("the number is less than 5.")
elif number < 10:
    print("the number is greater than or equal to 5 and less than 10.")
elif number < 15:
    print("the number is greater than or equal to 10 and less than 15.")
else:
    print("the number is greater than or equal to 15.")


# You can re-run this cell and input different values to see the different outputs

Please type a number: -5
the number is less than 5.

### <font color='red'>**Note**: </font> ```elif``` and ```else``` statments are optional. You can have a conditional statement only with ```if```

In [ ]:
age = int(input('Enter a valid number for age'))
if age < 1 or age > 120:
  print(' The provided value for age is not valid!')

Enter a valid number for age222
 The provided value for age is not valid!

### You can have nested if/elif/else conditions

In [ ]:
# Nested statements 

answer = input ("What do you study?")

if str(answer) == "Physics":
  answer = input("Do you study Medical Physics?")
  if answer == "Yes":
    print("Oh cool, me too!")
  elif answer == "No":
    answer = input("What kind of Physics?")
    if answer == "Astrophysics":
      print("Nice!")
    else:
      print("That's also nice!")

else:
  print("that is cool!")

What do you study?454
that is cool!

# <font color='red'>**Activity 2**: </font>
Write a if/elif/else statement that calculates the letter grade as follows:
- grade $\geq 90$      --> A
- 80 $\leq$ grade < 90 --> B
- 70 $\leq$ grade < 80 --> C
- 60 $\leq$ grade < 70 --> D
- grade < 60           --> E

In [ ]:
grade = input('Enter your grade: ')
grade = float(grade)
if grade >= 90:
  result = 'A'
elif grade >= 80:
  result = 'B'
elif grade >= 70:
  result = 'C'
elif grade >= 60:
  result = 'D'
else:
  result = 'E'

print(f'Your grade is {result}')

Enter your grade: 95
Your grade is A

# Part 3
So far we worked with data types that could contain only one value. Let's introduce data types that can handel a large number of values. To make an analogy these are similar to boxes that could hold many objects. We will cover Lists, Tuples, Sets, and Dictionaries.
## Lists and tuples
List and tuples could be used for ordered sequence of values.
- each element of a sequence is assigned an index, which reflect its position
- for a list or tuple of length n, these indices start from 0 and end at n-1


The difference betwen lists and tuples:
  - Lists: dynamic in size and mutable 
  - Tuples: fixed size and immutable 

##### PS:
- mutable: they can be altered 
- immutable: they cannot be altered

Examples of lists:

```python
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list1 = ["abc", 34, True, 40, "male", [1, 2]]
```

In [ ]:
# Creating a list 
animals = [] # empty list
animals = ['cat', 'bat', 'rat', 'elephant']
print(animals)
print(type(animals))
print(animals[0])
print(animals[3])
print(animals[-1])
print(animals[1:4])
print(animals[1:])
print(animals[-3:])

['cat', 'bat', 'rat', 'elephant']
<class 'list'>
cat
elephant
elephant
['bat', 'rat', 'elephant']
['bat', 'rat', 'elephant']
['bat', 'rat', 'elephant']

In [ ]:
print(len(animals))
animals.append('bat')
print(len(animals))
print(animals[-1])

4
5
bat

In [ ]:
animals.extend(['sparrow', 'parot'])
print(len(animals))

7

In [ ]:
print('caw' in animals)
print('cow' not in animals)
print('bat' in animals)
print('bat' not in animals)

False
True
True
False

In [ ]:
print(animals)
animals[2]= 'elk'
print(animals)

['cat', 'bat', 'rat', 'elephant', 'bat', 'sparrow', 'parot']
['cat', 'bat', 'elk', 'elephant', 'bat', 'sparrow', 'parot']

In [ ]:
print(animals)
animals.insert(2, 'lion')
print(animals)

['cat', 'bat', 'elk', 'elephant', 'bat', 'sparrow', 'parot']
['cat', 'bat', 'lion', 'elk', 'elephant', 'bat', 'sparrow', 'parot']

In [ ]:
animals.append('cat')
print(animals)

['cat', 'bat', 'lion', 'elk', 'elephant', 'bat', 'sparrow', 'parot', 'cat']

In [ ]:
print(animals.index('cat'))

0

In [ ]:
print(animals.index('cat', 1, len(animals)))

8

In [ ]:
animals.remove('cat')
print(animals)

['bat', 'lion', 'elk', 'elephant', 'bat', 'sparrow', 'parot', 'cat']

In [ ]:
animals.pop(1)
print(animals)

['bat', 'elk', 'elephant', 'bat', 'sparrow', 'parot', 'cat']

In [ ]:
del animals[2]
print(animals)

['bat', 'elk', 'bat', 'sparrow', 'parot', 'cat']

In [ ]:
animals.sort()
print(animals)

['bat', 'bat', 'cat', 'elk', 'parot', 'sparrow']

In [ ]:
animals.clear()
print(animals)

[]

In [ ]:
l1 = ['A', 'B', 'C']
l2 = ['A', 'B', 'C']
print(l1 == l2)
l2.append('D')
print(l1 == l2)

True
False

In [ ]:
l = [185, 185.3, 'john']
height, weight, name = l
print(f'height: {height}, weight: {weight}, name: {name}')

height: 185, weight: 185.3, name: john

### [Read more here](https://automatetheboringstuff.com/2e/chapter4/)

### *Tuples*
```python
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
```

In [ ]:
fruits = ("apple", "banana", "cherry", "apple", "cherry")
print(fruits)
print(type(fruits))
print(len(fruits))
print(fruits.count('apple'))
print(fruits.index('banana'))

('apple', 'banana', 'cherry', 'apple', 'cherry')
<class 'tuple'>
5
2
1

In [ ]:
t = (185, 185.3, 'john')
height, weight, name = t
print(f'height: {height}, weight: {weight}, name: {name}')

height: 185, weight: 185.3, name: john

In [ ]:
l = list(t)
l.append(22)
t = tuple(l)
height, weight, name, age = t
print(f'height: {height}, weight: {weight}, name: {name}, age: {age}')

height: 185, weight: 185.3, name: john, age: 22

In [ ]:
# For one item tuples, remember the comma
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Sets
Sets are immutable collections of data with not repetition and no order.
```python
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set1 = {"abc", 34, True, 40, "male"}
```

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
print(type(thisset))
print(len(thisset))
print('banana' in thisset)
print('orange' not in thisset)

{'apple', 'cherry', 'banana'}
<class 'set'>
3
True
True

In [ ]:
# Creat from list or tuple
s1 = set([1, 2, 4, 1, 2, 1])
s2 = set((1, 2, 4))
print(s1)
print(s1 == s2)

{1, 2, 4}
True

In [ ]:
# Add Items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [ ]:
# Add Sets
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)
thisset.remove("banana") # Note: If the item to remove does not exist, remove() will raise an error.
print(thisset)
thisset.discard("date") # Note: If the item to remove does not exist, discard() will NOT raise an error.

{'mango', 'cherry', 'apple', 'pineapple', 'papaya', 'banana'}
{'mango', 'cherry', 'apple', 'pineapple', 'papaya'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()# Note: Sets are unordered, so when using the pop() method, you do not know which item gets removed.
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [ ]:
s1 = {1, 2}
s2 = {1, 3}
s3 = {1, 2, 3, 4, 5}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.issubset(s3))
print(s1.difference(s2))

{1, 2, 3}
{1}
True
{2}

###Note: for empty set use ```set()``. ```{}``` is not an empty *set*
```python
s = set()
```

[Read more about sets here](https://www.w3schools.com/python/python_sets_methods.asp)

## Dictionaries
Dictionaries are used to store data values in key:value pairs. Dictionaries are mutable. However, they cannot have two items with the same key.

Note: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict['brand'])
print(type(thisdict))
print(len(thisdict))
thisdict["year"] = 2020
print(thisdict)
thisdict['color'] = 'red'
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
<class 'dict'>
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

In [ ]:
print(thisdict.values())

dict_values(['Ford', 'Mustang', 2020, 'red'])

In [ ]:
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'red')])

In [ ]:
x = thisdict.get("model")
l = thisdict.keys()
print(l)

dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
# Check if Key Exists
if 'model' in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 2020, 'color': 'red'}

# <font color='red'>**Activity 3**: </font>
Print numbers 1 to 10
Solution 1:

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

### What if you need to repeat a command a million times?
The solution is loops. Loops allow us to convinently perform repatetive tasks.
A solution for the task mentioned above would be:

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

#### For loops 

- the point of a for-loops is to repeatedly do something instead of doing it manually 
- for example if you need to count to 10, a loop can help you do that if you define the range; or if you want to display all letters of a word, a loop can also do that 
- A loop will continue running or looping as long as a certain defiend condition is satisfied 
- We can define how many times or how we want it to loop 

> We use **for** to declare a loop is being created 

> we define a variable *x* to *count* our numbers 

> you must also write **in** prior to the thing you want to iterate over 

> **Range** is a built in Python function to start anumber and count up to a certain number while increasing by any interval we want with the syntax 



```
range(start,stop,step)
range(10)  # When only one number is in the function it means we start at 0 
# increase by one each time and stop when our variable hits 10

range(5,10)  # When two numbers are in the function it means to start at the first number (in this case 5) 
# increase by one each time and stop when our variable hits the second number (in this case 10)

range(1,5,2)  # when three numbers are in the function it means to start at the first number (1)
# stop at the second number (5)
# and increase by the last number (2) 

```

In [ ]:
# Calculate the summation of numbers in a list
l = [2, 23, -5, 7, 8, -456, 34, 89, -97, 43, 12, -8, 43, -345, 23, 1, 43, 5, 7]
total = 0
for x in l:
  total = total + x# This line can be written as total += x
print(total, sum(l))# sum is a method that return summation of all elements in a list
assert total == sum(l)

-571 -571

In [ ]:
# Calculate the summation of all non-negative numbers in a list
l = [2, 23, -5, 7, 8, -456, 34, 89, -97, 43, 12, -8, 43, -345, 23, 1, 43, 5, 7]
total = 0
for x in l:
  if x > 0:
    total = total + x # This line can be written as total += x
print(total)

340

#### Iterables 
- In Python, we say that an object is an iterable when your program
can iterate over it
  - an iterable is an object that represents a sequence of one
or more values
  - all instances of Python's sequence types are iterables 
    - Lists
    - Strings 
    - Tuples

#### While loops 

- typically used when the number of iterations is unknown, so we loop it while a given condition is true.

In [ ]:
# Calculate summation of numbers between 1 and 10 (both included)
i = 1
total = 0
while i <= 10:
  total += i
  i += 1
print(total)

55

For both for and while loops

- the "break" command can be used to break the loop if a certain condition is satisfied
- the "continue" command can be used to skip the statments inside a loop if a certain condition is satisfied

[Read more here](https://automatetheboringstuff.com/2e/chapter2/)

### Functions 

- A function applies a set of defined rules to the input to obtain an output.
- It makes code more reusable. You can define a function and call it several times.

In [ ]:
def frequency(l):
  """ Calculate frequency of elements in a sequence.

  Args:
    l: A iterable of immutable items
  Returen:
    A dictionary key: value, where a key represents an elements of l and its value represents the frequency of k 
  """
  freq = {}# An empty dictionary
  for x in l:
    freq[x] = freq.get(x, 0) + 1
  return freq

l = [1, 2, 3, 2, 1, 1, 3, 4, 1, 4, 3, 1, 2, 3, 4]
print(frequency(l)) 

s = 'banana'
print(frequency(s))

t = (1, 2, 3, 2, 1, 1, 3, 4, 1, 4, 3, 1, 2, 3, 4)
print(frequency(t))

l = [(1, 2), (3, 2), (1, 2), (3, 1),  (4, 1), (1, 2), (3, 1), (2, 3), (4, 1)]
print(frequency(l)) # A set has

{1: 5, 2: 3, 3: 4, 4: 3}
{'b': 1, 'a': 3, 'n': 2}
{1: 5, 2: 3, 3: 4, 4: 3}
{(1, 2): 3, (3, 2): 1, (3, 1): 2, (4, 1): 2, (2, 3): 1}

In [ ]:
def write(l, file_path):
  """ Write an iterable to a file.

  Args:
      l: An iterable.
      file_path: an string representing a file path.
  """
  with open(file_path, 'w') as fout:
    for x in l:
      fout.write(str(x))
      fout.write('\n')# Go to the next line

In [ ]:
def read(file_path):
  """ Read an file to a list.

  Args:
      file_path: an string representing a file path.
  Returns:
      A list where each element is a line of the file.
  """
  l = []
  with open(file_path, 'r') as fin:
    for line in fin:
      line = line.strip()
      l.append(line)
  return l

In [ ]:
write(['1', '2' , '3'], 'file_path.txt') # Write to file
read('file_path.txt') # Read from the same file

['1', '2', '3']

### Modular Porgramming 

>Python has a way to put definitions in a file and use them in a script or in an interactive instance of the interpreter. Such a file is called a module; definitions from a module can be imported into other modules or into the main module (the collection of variables that you have access to in a script executed at the top level and in calculator mode).
>[Reference](https://docs.python.org/3/tutorial/modules.html)



```
# File name: myModule.py

def func(x):
    return x + 2

def func2(y):
    return y * 78
```


```
# File name: main.py

import myModule

value = myModule.func(5)  # this will call the func function from myModule

print(value)  # this prints 7
```

- We can use the **import** keyword to import modules that are built into python or that we've created.
- Note: To import our own modules they must be in the same directory as the file we are importing from.

- To avoid the use of "myModule" we can import specific functions from our modules using a combination of keywords "import" and "from".

## Common modules that you should consider
```python
import math
math.exp(2) #Return e raised to the power x, where e = 2.718281
```
[See](https://docs.python.org/3/library/math.html)

```python
import collections
l = 'banana'
count = collections.Counter(l)
print(count)
```
[See more here](https://docs.python.org/3/library/collections.html)

Some other useful modules
- Scikit-Learn
- numpy
- pytorch
- scipy
- pandas
- matplotlib
- random
- opencv-python
- itertools
- logging
- json